footer.footer
  .container
    .navigations
      .navigations__section
        .navigation__link
          a(href="#") 
            img.navigation__logo(src="assets/imgs/logo.png", alt="logo")
        .navigation__link 
          a(href="#") www.company name.com
        .navigation__link 
          a(href="#") companyname@gmail.com
        .navigation__link
          a(href="#") Phone: +7 485-118-03-25
      .navigations__section
        .navigation__link-tittle        
          a(href="#") Home
        .navigation__link
          a(href="#") Landingpage
        .navigation__link
          a(href="#") Documentation
        .navigation__link
          a(href="#") Referral Program
        .navigation__link
          a(href="#") UI & UX Design
        .navigation__link
          a(href="#") Web Design
      .navigations__section
        .navigation__link-tittle        
          a(href="#") Menu
        .navigation__link
          a(href="#") Landingpage
        .navigation__link
          a(href="#") Documentation
        .navigation__link
          a(href="#") Referral Program
        .navigation__link
          a(href="#") UI & UX Design
        .navigation__link
          a(href="#") Web Design
      .navigations__section
        .navigation__link-tittle        
          a(href="#") Company
        .navigation__link
          a(href="#") Landingpage
        .navigation__link
          a(href="#") Documentation
        .navigation__link
          a(href="#") Referral Program
        .navigation__link-logo
          a(href='#')
            img(src="assets/imgs/inst.svg", alt="inst")
          a(href="#")
            img(src="assets/imgs/fb.svg", alt="fb")
          a(href="#")
            img(src="assets/imgs/twi.svg", alt="twi")
          a(href="#")
            img(src="assets/imgs/yt.svg", alt="yout")



        
