header.header
  .container
    .navigations
      .navigations__section
        img.navigation__logo(src="assets/imgs/logo.jpg", alt="logo")
        span.navigation__site www.company name.com
        span.navigation__email companyname@gmail.com
        span.navigation__tel Phone: +7 485-118-03-25
      .navigations__section        
        h4.navigation__title Home
        span.navigation__link Landingpage
        span.navigation__link Documentation
        span.navigation__link Referral Program
        span.navigation__link UI & UX Design
        span.navigation__link Web Design
      .navigations__section        
        h4.navigation__title Menu
        span.navigation__link Landingpage
        span.navigation__link Documentation
        span.navigation__link Referral Program
        span.navigation__link UI & UX Design
        span.navigation__link Web Design
      .navigations__section        
        h4.navigation__title Company
        span.navigation__link Landingpage
        span.navigation__link Documentation
        span.navigation__link Referral Program
        a.navigation__linkimg(href="#")
          img(src="assets/imgs/inst.svg", alt="inst")
        a(href="#")
          img(src="assets/imgs/fb.svg", alt="fb")
        a(href="#")
          img(src="assets/imgs/twi.svg", alt="twi")
        a(href="#")
          img(src="assets/imgs/yt.svg", alt="yout")



        
