header.header
        .container
                .menu 
                        .menu__logo
                                a 
                                        img(src="assets/imgs/logo.jpg", alt="")
                        .menu__push        
                                a Home
                                a About us
                                a Menu
                                a Features
                                a Contact us
                        