header.header
        .container
                .menu 
                        .menu__logo
                                a(href='index.html') 
                                        img(src="assets/imgs/logo.jpg", alt="logo")
                        .menu__push
                                a(href='#') Home
                                a(href='#') About us
                                a(href='#') Menu
                                a(href='#') Features
                                a(href='#') Contact us
                        .menu__login 
                                button Booking Now 
                        