@import "./vars.scss";


html{
  font-family: $primary-font, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.4;
  font-weight: 400;
  background-color: rgba(255, 255, 255,1);
  color: $primary-color;
}
.container{
  max-width: 1170px;
  padding: 15px;
  margin: 0 auto;
}
.herosection{
  display: flex;
  align-items: center;
  @media (max-width: 991px){
    margin: 0 30px;
}
}
@media (max-width: 991px){
.herosection__button{
  display: flex;
  justify-content: center;  
}
}
@media (max-width: 991px){
  .herosection__text h1{
    text-align: center;
  }
  .herosection__text h4{
    text-align: center;
    margin: 0 auto;
  }
}
.herosection__text h1{
  font-family: $secondary-font, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48.83px;
  line-height: 58px;
  color: #150C01;
  margin-bottom: 42px;
  @media (max-width: 991px){
    max-width: 850px;    
}
  @media (max-width: 685px){
    max-width: 850px;
    font-size: 40px;
  }
  @media (max-width: 575px){
    font-size: 35px;    
  }
  @media (max-width: 520px){
    font-size: 32px;    
  }    
}
.herosection__text h4{
  font-family: $primary-font, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(21, 12, 1, 0.7);  
  margin-bottom: 50px;
  @media (max-width: 991px){
    max-width: 550px;
    margin-bottom: 100px;
}
  @media (max-width: 685px){
    font-size: 14px;    
    max-width: 500px;
}
@media (max-width: 575px){
  font-size: 12px;    
}
@media (max-width: 520px){
  font-size: 10px;    
}  
}
.herosection__imgs{
  position: relative;
  left: 2%;
  @media (max-width: 991px){
      display: none;
  }
}
.herosection__btn{
  padding: 20px 40px;
  background-color: $secondary-color;
  color: white;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  @media (max-width: 448px){
    font-size: 14px;
  }
  @media (max-width: 438px){
    font-size: 12px;
  }
  @media (max-width: 429px){
    font-size: 10px;
  }
}
// @media (max-width: 990px){
//   .herosection__text button{
//     margin-left: 50px;
//   }
.herosection__btn-2{
  border: 1.5px solid rgba(220, 120, 11, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 40px;
  background-color: white;
  color: $secondary-color;  
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.herosection__btn:hover{
  background-color: rgba(220, 120, 11, 0.9);
}
.herosection__btn-2:hover{
  border: 1.5px solid rgba(220, 120, 11, 1);
}
.infosection__tittle{
  text-align: center;
  margin-bottom: 44px;
}
.infosection__signature3{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(220, 120, 11, 0.7);
  margin-bottom: 7px;
}
.infosection__signature2{
  font-family: Philosopher;
  font-style: normal;
  font-weight: bold;
  font-size: 31.25px;
  line-height: 35px;
  text-transform: capitalize;
  color: $primary-color;
}
.infosection__spec{
  display: flex;
  @media (max-width: 991px){
    display: block;
    margin: 0 auto;  
}
}
.infosection__img{
  padding: 24px 45px;
  background-color: rgba(230, 77, 46, 0.08);
  height: 88px;
  width: 88px;
  border-radius: 50%;
}
.infosection__img{
  position: relative;
}
.infosection__img{
  margin: auto;
}
.infosection__frame{
  position: absolute;
  left: 28%;
}
.infosection__frame-smile{
  position: absolute;
  left: 22%;
  bottom: 18%;
}
.infosection__text{
  text-align: center;
  margin-top: 33px;
}
.infosection__text h5{
  font-family: 'Philosopher', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  color: rgba(21, 12, 1, 1);
  margin-bottom: 15px;
}
.infosection__text p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(21, 12, 1, 0.7);
}
.menusection{
  margin-top: 160px;
}
.menusection__tittle{
  text-align: center;
  margin-bottom: 44px;
}
.menusection__tittle p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(21, 12, 1, 0.7);
  max-width: 648px;
  margin: auto;
}
.menusection__tittle .infosection__signature2{
  margin-bottom: 25px;
}
.menupos{
  display: flex;
  flex-wrap: wrap;  
  justify-content: center; 
}
.menu__pos{
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 75px 10px 10px 10px;
  max-width: 360px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.menu__pos:hover{
  background-color: rgba(220, 120, 11, 0.05);
}
.name__pos{
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;  
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  margin: 20px 25px;
}
.name__text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(21, 12, 1, 0.7);
  margin: 20px 25px;
}
.plus{
  display: flex;
  justify-content: space-between;
}
.name__add{
  text-decoration: none;
  outline: none;
  margin-left: 25px;
  margin-bottom: 25px;
}
.name__add img:hover{
  cursor: pointer;
}
.rating{
  margin-right: 30px;
}
.bottom__button{
  margin-top: 50px;
  margin-bottom: 105px;
  text-align: center;
}
.bottom__button1{
  padding: 12px 30px;
  outline: none;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #DC780B;
  box-sizing: border-box;
  border-radius: 5px;
  color: rgba(220, 120, 11, 1);
  cursor: pointer;
}
.bottom__button1:hover{
  background-color: rgba(220, 120, 11, 0.11);
}